<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/containers.css">
    <link rel="stylesheet" href="../styles/buttons.css">
    <link rel="stylesheet" href="../styles/tags.css">
</head>
<body>
    <div class="containerInlineMain">
        <div class="containerInlineLeft">

        </div>
<!--        <div class="containerInlineRight">-->
<!--            <div class="sliderOuterContainer">-->
<!--                <img src="../images/first_400_257.png" alt="first" class="img">-->
<!--                <img src="../images/second_400_257.png" alt="first">-->
<!--                <a href="#" class="previous round btnLeft">&#8249;</a>-->
<!--                <a href="#" class="next round btnRight">&#8250;</a>-->
<!--            </div>-->
<!--        </div>-->
    </div>


    <script src="../../js/ru/maxryazan/RestLogic.js"></script>
</body>
</html>