<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/containers.css">
    <link rel="stylesheet" href="../styles/buttons.css">
    <link rel="stylesheet" href="../styles/tags.css">
</head>
<body>
    <div class="containerInlineMain">
        <div class="containerInlineLeft">

        </div>
        <div class="containerInlineRight">

        </div>
    </div>


    <script src="../../js/ru/maxryazan/RestLogic.js"></script>
</body>
</html>