<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../styles/containers.css">
    <link rel="stylesheet" href="../styles/buttons.css">
    <link rel="stylesheet" href="../styles/tags.css">
</head>
<body>
<div class="containerForAll">
    <div class="commandLine">
        <div class="inlineSearch">
            <label>
                <input type="text" class="searchInput" minlength="2">
            </label>
                <button class="searchButton">
                    <img src="../images/searchIcon.png" alt="" class="searchImage">
                </button>
        </div>
    </div>
    <div class="containerInlineMain">

    </div>
</div>

    <script src="../../js/ru/maxryazan/RestLogic.js"></script>
</body>
</html>