.containerInlineLeft{
    margin-top: 7%;
    background: white;
    min-width: 30%;
    padding: 0;
}
.containerInlineRight{
    margin-top: 7%;
    background: white;
    padding: 0;

}
.test{
    overflow: hidden;
    margin-bottom: 10px;
}
.inlineBlock{
    display: inline-flex;
    width: 100%;
}

.containerInlineMain{
    width: 60%;
}
.oneShopContainer{
    margin-bottom: 50px;
    padding: 0;

}
.sliderOuterContainer{
    width: 53.65%;
    height: auto;
    display: flex;
    position: relative;
}
#id1{
    border: 2px solid red;
}
#id2{
    border: 2px solid green;
}
#id3{
    border: 2px solid purple;
}
#id4{
    border: 2px solid blue;
}
.btnLeft {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.btnRight {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.imagesContainer{
    margin-left: 25px;
    margin-bottom: 50px;
    width: 53.65%;
    position: relative;
    border: 2px solid green;
}
.inline{
    display: inline-flex;
    width: 100%;
    padding: 0;
    margin: 0;
}