.containerInlineLeft{
    margin-top: 7%;
    background: white;
    width: 99%;
    border: 1px solid yellow;
    padding: 0;
}

.containerInlineMain{
    display: inline-flex;
    width: 50%;
}
.oneShopContainer{
    border: 2px solid blue;
    margin-bottom: 50px;
    padding: 0;

}
.sliderOuterContainer{
    width: 99%;
    height: auto;
    display: flex;
    overflow: hidden;
}
.btnLeft {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.btnRight {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.imagesContainer{
    display: flex;
    margin-left: 25px;
    border: 1px solid orange;
    margin-bottom: 50px;
    width: 50%;
}
.inline{
    display: inline-flex;
    border: 1px solid black;
    width: 100%;
    padding: 0;
    margin: 0;
}