
.containerInlineMain{
    width: 60%;
    overflow: hidden;
}
.inline{
    display: inline-flex;
    width: 100%;
    height: auto;
    padding: 0;
    margin-bottom: 50px;

}
.inline2{
    display: inline-flex;
    height: 100%;
    padding: 0;
    width: 400px;
    margin-left: 50px;
    border: 3px solid black;
    overflow: hidden;
}
.title{
    height: auto;
    min-width: 200px;
}
