stars{
    color: #ffdc10;
}
h1{
    font-size: 26px;
    color: darkgreen;
    font-family: Bahnschrift, serif;
}
h2{
    font-size: 18px;
}
.img{
    height: auto;
    width: 100%;
}
.searchInput{
    height: 24px;
    border: 1px solid black;
    border-right: 0;
}
.searchImage:hover{
    transform: scale(1.15);
}